

.membros-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 20px;
  margin: 5rem auto;
}

.membros-actions {
  color: #0a2c53;
  margin:auto;
}
.mat-mdc-raised-button:not(:disabled) {
    background-color: #d8e2e9;
    color: #0a2c53;
    padding: 25px 25px;
    border-radius: 50px;
    border: rgb(3, 35, 65) solid 2px;
    font-size: 1.2rem;
    margin: 1rem 1.5rem;
}


.campo-busca .mat-form-field-flex {
  border-radius: 50px; /* Campo arredondado */
  padding: 2px 12px;
  transition: all 0.3s ease;
  background-color: #f9f9f9; /* Fundo suave */
}

.campo-busca.mat-focused .mat-form-field-flex {
  background-color: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15); /* Sombra ao focar */
}

.campo-busca input {
  font-size: 16px;
  padding: 8px;
}

::ng-deep .campo-busca .mat-form-field-underline {
  display: none;
}

::ng-deep .campo-busca .mat-form-field-ripple {
  display: none;
}


.membros-container span {
  font-size: 1.2rem;
  color: #0a2c53;
  margin-bottom: 1rem;
}
.membros-container h2 {
  text-align: center;
  color: #0a2c53;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.membros-tabela {
  width: 100%;
  table-layout: fixed;
}

.membros-tabela th,.membros-tabela td {
  text-align: center;
  vertical-align: middle;
}
/* Primeira coluna (Id) mais estreita */
.membros-tabela th.mat-column-Id,
.membros-tabela td.mat-column-Id {
  width: 80px; /* Ajuste como preferir */
}

.membros-tabela th {
  font-size: 1rem;
  background-color: #c7eaff;
  color: #0a2c53;
  font-weight: bold;
  padding: 12px;
  border: solid 0.5px #333;
}
.membros-tabela td {
  font-size: 15px;
  padding: 8px;
  text-align: center;
  border: solid 0.5px #0a2c53;
}

.cargo-column {
  display: flex;
}

.cargo-text {
 flex: auto;
}

.btn-excluir {
  transition: transform 0.2s ease, background-color 0.3s ease;
  border-radius: 50%;
  color: #a50606;

}

.btn-excluir:hover {
  background-color: rgba(244, 67, 54, 0.1);
  transform: scale(1.15);
}

.btn-excluir mat-icon {
  transition: transform 0.2s ease;
}

.btn-excluir:hover mat-icon {
  transform: rotate(-15deg);
}

